@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
:root {
    --bright: #f5f5f5;
    --dark: #05090c;
    --backgroundColor: #0b1218;
    --darkBackgroundColor: #090f14;
    --primaryColor: 0, 240, 255;
    --contentPadding: 2em min(5vw, 10em);
    --contentHorizontalMargin: 0 min(10vw, 10em);
    --contentVerticalPadding: min(10vw, 10em) 0;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: auto;
    gap: 1em;
    padding: var(--contentPadding);
    height: 100vh;
    background-color: var(--darkBackgroundColor);
    font-size: clamp(0.1rem, 3vw, 1rem);
    font-family: 'Montserrat', sans-serif;
    max-width: 1920px;
}
.wrapper__form {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-self: auto;
}
.wrapper__form form {
    position: relative;
    width: 100%;
}
.wrapper__form fieldset {
    display: flex;
    position: sticky;
    top: 2em;
    flex: 1;
    flex-direction: column;
    gap: 1.5em;
    padding: 1.2em;
    border: none;
    border-radius: 10px;
    background-color: var(--backgroundColor);
}
.wrapper__form input,
.wrapper__form select,
.wrapper__form option {
    padding: 0.9em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    font-weight: 200;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--bright);
}
.wrapper__form input:focus,
.wrapper__form select:focus,
.wrapper__form option:focus {
    outline: none;
    border-bottom: 1px solid rgba(var(--primaryColor), 1);
}
.wrapper__form input,
.wrapper__form select {
    color: rgba(var(--primaryColor), 1);
}
.wrapper__form option {
    color: var(--bright);
    background-color: var(--backgroundColor);
}
::placeholder {
    color: var(--bright);
    opacity: 0.8;
}
.wrapper__books-list {
    display: block;
    min-width: 50%;
}
.wrapper__books-list--hidden {
    display: none;
}
.books__list {
    display: grid;
    grid-template-columns: 1fr 0.8fr 0.5fr 0.8fr 0.3fr;
    gap: 1em;
    align-items: center;
    text-align: center;
    padding: 1em;
    color: var(--bright);
}
.books__list:nth-child(2n + 1) {
    background-color: var(--backgroundColor);
}
.books__list:nth-child(2n) {
    background-color: var(--darkBackgroundColor);
}
.books__list--header {
    font-size: 1.1em;
    font-weight: 400;
    color: rgba(var(--primaryColor), 1);
    border-radius: 10px 10px 0 0;
}
.books__list--row {
    font-weight: 200;
}
.books__list--row:last-of-type {
    border-radius: 0 0 10px 10px;
}
.books__list--row > span:nth-child(n):first-of-type {
    text-align: left;
}
.button {
    align-self: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: rgba(var(--primaryColor), 1);
    font-size: 1.2em;
    text-align: center;
    transition: all 0.4s;
    cursor: pointer;
}
.button--add {
    min-width: 5em;
    padding: 0.5em;
    background-color: var(--backgroundColor);
    border: 1px solid rgba(var(--primaryColor), 1);
    border-radius: 5px;
}
.button--add:hover {
    background-color: rgba(var(--primaryColor), 0.3);
}
.button--remove {
    color: var(--bright);
    border: none;
    background-color: transparent;
}
.button--remove:hover {
    color: rgba(var(--primaryColor), 1);
}
@media (min-width: 996px) {
    .wrapper__form {
        min-width: 20em;
    }
    .wrapper {
        flex-direction: row;
    }
}
